:host {
  display: block;
}

// A min width is established for the dialogs to make it easier to write longer notes
mat-form-field {
  min-width: 200px;
  width: 100%;
  @media only screen and (min-width: 450px) {
    min-width: 400px;
  }
}
button {
  flex: 1;
}
